<%= form_with(model: questionnaire, html: { data: { turbo: "false" }, class: "card p-8" }) do |form| %>
  <% if questionnaire.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(questionnaire.errors.count, "error") %> prohibited this questionnaire from being saved:</h2>

      <ul>
        <% questionnaire.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex justify-between gap-4 my-5">
    <div class="w-3/4 flex flex-col gap-4">
      <%= form.label :name, class:"label" %>
      <%= form.text_field :name, class: "input" %>
    </div>

    <div class="w-1/4 flex flex-col gap-4">
      <%= form.label :duration, class:"label" %>
      <%= form.number_field :duration,
              value: questionnaire.duration,
              class: "input input-focus" %>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-4 my-5">
    <div class="col-span-1 flex flex-col gap-4">
      <%= form.label :start_date, class:"label" %>
      <%= form.datetime_field :start_date,
              value: questionnaire.start_date.strftime("%Y-%m-%d %H:%M"),
              class: "input input-focus" %>
    </div>

    <div class="col-span-1 flex flex-col gap-4">
      <%= form.label :end_date, class:"label" %>
      <%= form.datetime_field :end_date,
              value: questionnaire.end_date.strftime("%Y-%m-%d %H:%M"),
              class: "input input-focus" %>
    </div>
  </div>

  <div class="grid grid-cols-3 gap-4">
    <% [@free_text, @simple, @multiple].each do |title, questions| %>
    <div class="my-5">
      <h3 class="text-lg font-semibold">
        <%= title.capitalize %>
      </h3>
        <% questions.each do |question| %>
          <div class="col-span-1 flex flex-col items-center gap-4 my-4">
            <div class="card px-4 py-1.5 gap-4">
              <%= check_box_tag "questionnaire[question_ids][]", question.id, questionnaire.question_ids.include?(question.id), id: "question_#{question.id}", class: "checkbox" %>
              <%= label_tag "question_#{question.id}", question.description, class: "label" %>
            </div>
          </div>
        <% end %>
    </div>
    <% end %>
  </div>

  <div class="flex justify-between my-5">
    <%= form.submit nil, class: "btn btn-create btn-create-hover btn-create-focus transition-base" %>
    <%= link_to "Back", questionnaires_path, class: "w-auto btn btn-back btn-back-hover btn-back-focus transition-base" %>
  </div>
<% end %>
