<div id="<%= dom_id questionnaire %>">
  <p>
    <strong>Name:</strong>
    <%= questionnaire.name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= questionnaire.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= questionnaire.end_date %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= questionnaire.duration %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= questionnaire.manager_id %>
  </p>

</div>
