<%= render Oodle::CardComponent.new(
      title: questionnaire.name, id: dom_id(questionnaire),
            actions: [
        link_to("Show", questionnaire, class: "px-3 py-1.5 border border-blue-500 text-blue-500 hover:bg-blue-200 hover:text-blue-700 rounded-md font-medium"),
        link_to("Edit", edit_questionnaire_path(questionnaire), class: "px-3 py-1.5 border border-blue-500 text-blue-500 hover:bg-blue-200 hover:text-blue-700 rounded-md font-medium"),
        button_to("Destroy", questionnaire, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "px-3 py-1.5 border border-blue-500 text-blue-500 hover:bg-blue-200 hover:text-blue-700 rounded-md font-medium")
      ]
    ) do%>

  <p>
    <strong>Start date:</strong>
    <%= questionnaire.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= questionnaire.end_date %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= questionnaire.duration %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= questionnaire.manager_id %>
  </p>

  <%= link_to "Show", questionnaire, class: "px-3 py-1.5 border border-blue-500 text-blue-500 hover:bg-blue-200 hover:text-blue-700 rounded-md font-medium" %>
<% end %>
    
<% if action_name == "show" %>  

  <h1 class="text-xl">Questions: <%= @questionnaire.questions.count %></h1>

  <div id="questions" class="min-w-full">
    <% @questionnaire.questions.each do |question| %>
      <%= render question %>
      <%= link_to "Answer this question", new_answer_path({ user_id: Current.user.id, questionnaire_id: @questionnaire.id, question_id: question.id}), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %>
  </div>

<% end %>
