<%= render Oodle::CardComponent.new(
      title: questionnaire.name, id: dom_id(questionnaire),
            actions: [
        link_to("Show", questionnaire, class: "px-3 py-1.5 border border-blue-500 text-blue-500 hover:bg-blue-200 hover:text-blue-700 rounded-md font-medium"),
        link_to("Edit", edit_questionnaire_path(questionnaire), class: "px-3 py-1.5 border border-blue-500 text-blue-500 hover:bg-blue-200 hover:text-blue-700 rounded-md font-medium"),
        button_to("Destroy", questionnaire, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "px-3 py-1.5 border border-blue-500 text-blue-500 hover:bg-blue-200 hover:text-blue-700 rounded-md font-medium")
      ]
    ) do%>

  <p>
    <strong>Start date:</strong>
    <%= questionnaire.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= questionnaire.end_date %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= questionnaire.duration %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= questionnaire.manager_id %>
  </p>

  <%= link_to "Show", questionnaire, class: "px-3 py-1.5 border border-blue-500 text-blue-500 hover:bg-blue-200 hover:text-blue-700 rounded-md font-medium" %>
<% end %>
    