<%= render Oodle::CardComponent.new(
      title: questionnaire.name, id: dom_id(questionnaire),
            actions: [
        link_to("Show", questionnaire, data: {turbo_frame: '_top'}, class: "px-3 py-1.5 border border-blue-500 text-blue-500 hover:bg-blue-200 hover:text-blue-700 rounded-md font-medium"),
        link_to("Edit", edit_questionnaire_path(questionnaire), class: "px-3 py-1.5 border border-blue-500 text-blue-500 hover:bg-blue-200 hover:text-blue-700 rounded-md font-medium"),
        button_to("Destroy", questionnaire, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "px-3 py-1.5 border border-blue-500 text-blue-500 hover:bg-blue-200 hover:text-blue-700 rounded-md font-medium")
      ]
    ) do%>

    <div id="<%= dom_id questionnaire %>" class="<%= questionnaire.available? ? 'bg-slate-100' : 'bg-slate-400' %> rounded-lg p-12 relative px-8">
      <% if @user_questionnaire.present? %>
        <span class="absolute -top-2 -right-2 text-sm text-green-500 rounded-full px-2 py-1 bg-green-100">
          <%= number_to_percentage(@user_questionnaire.progress, precision: 2) %>
        </span>
      <p class="my-5">
        <strong class="block font-medium mb-1">Score:</strong>
        <%= @user_questionnaire.score.to_f %>
      </p>
      <% end %>
      
      <p class="my-5">
        <strong class="block font-medium mb-1">Manager:</strong>
        <%= questionnaire.manager_id %>
      </p>

      <p class="my-5">
        <strong class="block font-medium mb-1">Name:</strong>
        <%= questionnaire.name %>
      </p>  

      <p class="my-5">
        <strong class="block font-medium mb-1">Available in:</strong>
        
        <% if questionnaire.available? %>
          <span>Open</span>  
        <% elsif questionnaire.start_date > Time.zone.now %>
          <%= time_ago_in_words(questionnaire.start_date) %>
        <% else %>
          <span>Closed</span>
        <% end %>
      </p>

      <p class="my-5">
        <strong class="block font-medium mb-1">End date:</strong>
        <%= questionnaire.end_date %>
      </p>
    </div>

  <% if action_name == "show" %>
    <%= button_to "Mark as completed", mark_as_completed_answer_path(params[:id]), method: :post, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" if questionnaire.available? && !@user_questionnaire.completed? %>
  <% end %>
<% end %>
    
<% if action_name == "show" %>  

  <h1 class="text-xl">Questions: <%= @questionnaire.questions.count %></h1>

  <div id="questions" class="min-w-full">
    <%= render partial: "oodle/questions/question", collection: @questionnaire.questions, as: :question %>
  </div>

<% end %>
