<% 
show_action = link_to("Show", answer, data: { turbo_frame: "_top" }, class: "btn btn-show btn-show-hover btn-show-focus transition-base")
manager_actions = [
  link_to("Edit", edit_answer_path(answer), data: { turbo_frame: "_top" }, class: "btn btn-edit btn-edit-hover btn-edit-focus transition-base", aria: { label: "Edit answer" }),
  button_to("Destroy", answer, method: :delete, data: { turbo_confirm: "Are you sure?", turbo_frame: "_top" }, class: "btn btn-delete btn-delete-hover btn-delete-focus transition-base", aria: { label: "Delete answer" })
]
back_button = link_to("Back", answers_path, class: "w-auto btn btn-back btn-back-hover btn-back-focus transition-base")

actions = []
actions = [show_action] unless action_name == "show"
actions.concat(manager_actions) if Current.user.manager?
# actions.concat([back_button]) if action_name == "show"
%>

<%= render Oodle::CardComponent.new(
    title: answer.user.email_address,
    id: dom_id(answer),
    actions: actions
  ) do %>

  <section id="<%= dom_id(answer) %>" class=" rounded-lg relative px-8 py-6">
    <p class="my-5 flex flex-col gap-4">
      <strong>Questionnaire:</strong>
      <%= answer.questionnaire.name %>
    </p>

    <p class="my-5 flex flex-col gap-4">
      <strong class="label">Question: <%= answer.question.name%></strong>
      <%= answer.question.description %>
    </p>

    <p class="my-5 flex gap-4">
      <strong class="label">Response:</strong>
      <%= answer.result['selected'] %>
    </p>

    <p class="my-5 flex gap-4">
      <strong class="label">Score:</strong>
      <%= answer.score %>
    </p>

    <p class="my-5 flex gap-4">
      <strong class="label">Answered at:</strong>
      <%= answer.answered_at.strftime("%d-%m-%y %H:%M") %>
    </p>
  </section>
<% end %>
