<%= render Oodle::CardComponent.new(
      title: answer.question.name, id: dom_id(answer),
            actions: [
        link_to("Show", answer, class: "px-3 py-1.5 border border-blue-500 text-blue-500 hover:bg-blue-200 hover:text-blue-700 rounded-md font-medium"),
        link_to("Edit", edit_item_path(answer), class: "px-3 py-1.5 border border-blue-500 text-blue-500 hover:bg-blue-200 hover:text-blue-700 rounded-md font-medium"),
      ]
    ) do%>

  <p>
    <strong>User:</strong>
    <%= answer.user_id %>
  </p>

  <p>
    <strong>Answered at:</strong>
    <%= answer.answered_at %>
  </p>

  <p>
    <strong>Result:</strong>
    <%= answer.result %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= answer.score %>
  </p>

  <p>
    <strong>Assignment:</strong>
    <%= answer.questionnaire_id %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= answer.question_id %>
  </p>

  <%= link_to "Show", answer, class: "px-3 py-1.5 border border-blue-500 text-blue-500 hover:bg-blue-200 hover:text-blue-700 rounded-md font-medium" %>
<% end %>
    