<% content_for :title, "answers" %>

<section class="container flex flex-col gap-4">

  <div class="flex justify-between gap-4 my-8">
    <h1 class="text-3xl font-semibold text-gray-800">Answers: <%= @pagy.count %></h1>
  </div>

  <div class="flex justify-between items-center gap-4">
    <div class="flex items-center gap-4">
      
      <% if @students.present? %>
        <% @students.each do |id, email| %>
          <%= link_to email,
                answers_path(student_id: id),
                class: "rounded-lg py-3 px-5 bg-blue-100 text-blue-500 hover:bg-blue-200 inline-block font-medium #{'bg-blue-500 text-white' if params[:student_id].eql?(id)}" %>
        <% end %>
      <% end %>
    </div>
    <%= render "layouts/shared/pagy", pagy: @pagy if @pagy.present? %>
  </div>

  <% if @answers.present? %>
    <%= render Oodle::GridListComponent.new(
      resource: @answers,
      columns: {
        "Student" => { method: ->(a) { a.user.email_address }, span: 1, align: "left", header_align: "left" },
        "Questionnaire" => { method: ->(a) { a.questionnaire.name }, span: 1, align: "left" },
        "Question" => { method: ->(a) { a.question.description }, span: 2, align: "left" },
        "Response" => { method: ->(a) { a.result["selected"].is_a?(Array) ? a.result["selected"].join(", ") : a.result["selected"] }, span: 1, align: "right" },
        "Correct Values" => { method: ->(a) { a.question.items.map(&:correct_value).uniq.join(", ") }, span: 1, align: "right" },
        "Score" => { method: ->(a) { number_with_precision(a.score, precision: 2) }, span: 1, align: "right" },
        "Question Score" => { method: ->(a) { number_with_precision(a.question.score, precision: 2) }, span: 1, align: "right" },
        "Answered At" => { method: ->(a) { a.answered_at.strftime("%d-%m-%y %H:%M") }, span: 1, align: "right" }
      },
      actions: [
        ->(answer) { link_to("Show", answer_path(answer), class: "btn btn-show") },
        ->(answer) { link_to("Edit", edit_answer_path(answer), class: "btn btn-edit") if Current.user.manager? }
      ]
    ) %>
  <% else %>
    <div class="flex justify-center items-center my-8">
      <h1 class="text-3xl font-semibold text-gray-800">No answers found for employee <%= User.find(params[:student_id]).email_address %></h1>
    </div>
  <% end %>
  
</section>
