<% 
show_action = link_to("Show", question, data: { turbo_frame: "_top" }, class: "btn btn-show btn-show-hover btn-show-focus transition-base")
manager_actions = [
  link_to("Edit", edit_question_path(question), data: { turbo_frame: "_top" }, class: "btn btn-edit btn-edit-hover btn-edit-focus transition-base", aria: { label: "Edit question" }),
  button_to("Destroy", question, method: :delete, data: { turbo_confirm: "Are you sure?", turbo_frame: "_top" }, class: "btn btn-delete btn-delete-hover btn-delete-focus transition-base", aria: { label: "Delete question" })
]
student_actions = [link_to("Answered", new_answer_path(questionnaire_id: params[:id], question_id: question.id), data: { turbo_frame: "_top" }, class: "btn btn-show btn-show-hover btn-show-focus transition-base")]
back_button = link_to("Back", questions_path, class: "w-auto btn btn-back btn-back-hover btn-back-focus transition-base")

actions = []
actions = [show_action] unless action_name == "show"
Current.user.manager? ? actions.concat(manager_actions) : actions.concat(student_actions)
actions.concat([back_button]) if action_name == "show"
%>

<div id="<%= dom_id(question) %>" class="grid grid-cols-9 gap-4 p-4 items-center text-sm ho
ver:bg-gray-50">
  <div class="col-span-2"><%= question.name %></div>
  <div class="col-span-2"><%= question.description %></div>
  <div class="text-right"><%= question.question_type %></div>
  <div class="text-right"><%= number_with_precision(question.score || 0, precision: 2) %></div>
  <div class="text-right"><%= question.items.count %></div>
  <div class="col-span-2 flex justify-end space-x-2">
    <% actions.each do |action| %>
      <%= action %>
    <% end %>
  </div>
</div>