<% 
show_action = link_to("Show", question, data: { turbo_frame: "_top" }, class: "btn btn-show btn-show-hover btn-show-focus transition-base")
manager_actions = [
  link_to("Edit", edit_question_path(question), data: { turbo_frame: "_top" }, class: "btn btn-edit btn-edit-hover btn-edit-focus transition-base", aria: { label: "Edit question" }),
  button_to("Destroy", question, method: :delete, data: { turbo_confirm: "Are you sure?", turbo_frame: "_top" }, class: "btn btn-delete btn-delete-hover btn-delete-focus transition-base", aria: { label: "Delete question" })
]
back_button = link_to("Back", questions_path, class: "w-auto btn btn-back btn-back-hover btn-back-focus transition-base")

actions = []
actions = [show_action] unless action_name == "show"
actions.concat(manager_actions) if Current.user.manager?
actions.concat([back_button]) if action_name == "show"
%>

<%= render Oodle::CardComponent.new(
    title: question.name,
    id: dom_id(question),
    actions: actions
  ) do %>

  <section id="<%= dom_id(question) %>" class=" rounded-lg relative px-8 py-6">
    <p class="my-5 flex flex-col gap-4">
      <strong class="label">Description:</strong>
      <%= question.description %>
    </p>

    <p class="my-5 flex gap-4">
      <strong class="label">Type:</strong>
      <%= question.question_type %>
    </p>

    
    <% if question.scorable? %>
      <p class="my-5 flex gap-4">
        <strong class="label">Score:</strong>
        <%= question.score %>
      </p>
    <% end %>
  </section>
<% end %>
