<%= render Oodle::CardComponent.new(
      title: question.name, id: dom_id(question)
    ) do%>

  <p>
    <strong>Description:</strong>
    <%= question.description %>
  </p>

  <p>
    <strong>Question type:</strong>
    <%= question.question_type %>
  </p>

  <p>
    <strong>Scorable:</strong>
    <%= question.scorable %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= question.score %>
  </p>

  <%= linkt_to "Show", question, class: "px-3 py-1.5 border border-blue-500 text-blue-500 hover:bg-blue-200 hover:text-blue-700 rounded-md font-medium" %>
<% end %>
    