<div id="<%= dom_id question %>">
  <p>
    <strong>Name:</strong>
    <%= question.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= question.description %>
  </p>

  <p>
    <strong>Question type:</strong>
    <%= question.question_type %>
  </p>

  <p>
    <strong>Scorable:</strong>
    <%= question.scorable %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= question.score %>
  </p>

</div>
