<% content_for :title, "questions" %>

<section class="container flex flex-col gap-4">

  <div class="flex justify-between gap-4 my-8">
    <h1 class="text-3xl font-semibold text-gray-800">Questions: <%= @pagy.count %></h1>
    <%= link_to "New question", new_question_path, class: "px-3 py-1.5 border border-blue-500 text-blue-500 hover:bg-blue-200 hover:text-blue-700 rounded-md font-medium" if Current.user.manager? %>
  </div>

  <div class="flex justify-between items-center gap-4">
    <div class="flex items-center gap-4">
      <% ["all", "simple", "multiple", "free_text"].each do |status| %>
        <%= link_to status.capitalize,
                questions_path(sorted: status),
                class: "rounded-lg py-3 px-5 bg-blue-100 text-blue-500 hover:bg-blue-200 inline-block font-medium #{'bg-blue-500 text-white' if params[:sorted].eql?(status)}" %>
      <% end %>
    </div>
    <%= render "layouts/shared/pagy", pagy: @pagy if @pagy.present? %>
  </div>

  <div id="questions" class="bg-white shadow-md rounded-lg overflow-hidden my-8">
    <div class="grid grid-cols-9 gap-4 p-4 bg-gray-100 font-semibold text-sm text-gray-700">
      <div class="col-span-2">Name</div>
      <div class="col-span-2">Description</div>
      <div class="text-right">Type</div>
      <div class="text-right">Score</div>
      <div class="text-right">Items</div>
      <div class="col-span-2 text-right">Actions</div>
    </div>
    <div class="divide-y divide-gray-200">
      <%= render partial: 'question', collection: @questions, as: :question %>
    </div>
  </div>
</section>
