<% content_for :title, "questions" %>

<section class="container flex flex-col gap-4">

  <div class="flex justify-between gap-4 my-8">
    <h1 class="text-3xl font-semibold text-gray-800">Questions: <%= @pagy.count %></h1>
    <%= link_to "New question", new_question_path, class: "px-3 py-1.5 border border-blue-500 text-blue-500 hover:bg-blue-200 hover:text-blue-700 rounded-md font-medium" if Current.user.manager? %>
  </div>

  <div class="flex justify-between items-center gap-4">
    <div class="flex items-center gap-4">
      <% ["all", "simple", "multiple", "free_text"].each do |status| %>
        <%= link_to status.humanize,
                questions_path(sorted: status),
                class: "rounded-lg py-3 px-5 bg-blue-100 text-blue-500 hover:bg-blue-200 inline-block font-medium #{'bg-blue-500 text-white' if params[:sorted].eql?(status)}" %>
      <% end %>
    </div>
    <%= render "layouts/shared/pagy", pagy: @pagy if @pagy.present? %>
  </div>

  <% if @questions.present? %>
    <%= render Oodle::GridListComponent.new(
      resource: @questions,
      columns: {
        "Name" => { method: ->(q) { q.name }, span: 1, align: "left", header_align: "left" },
        "Description" => { method: ->(q) { q.description }, span: 2, align: "left" },
        "Type" => { method: ->(q) { q.question_type }, span: 1, align: "right" },
        "Score" => { method: ->(q) { number_with_precision q.score, precision: 2 }, span: 2, align: "right" },
        "Items" => { method: ->(q) { q.items.count }, span: 2, align: "right" },
      },
      actions: [
        ->(question) { link_to("Show", question, class: "btn btn-show") },
        ->(question) { button_to("Destroy", question, method: :delete, data: { turbo_confirm: "Are you sure?", turbo_frame: "_top" }, class: "btn btn-delete btn-delete-hover btn-delete-focus transition-base", aria: { label: "Delete item" }) }
      ]
    ) %>
  <% else %>
    <div class="flex justify-center items-center my-8">
      <h1 class="text-3xl font-semibold text-gray-800">No questions found for type <%= params[:sorted].humanize %></h1>
    </div>
  <% end %>
</section>
