<%= form_with(model: item, html: { data: { turbo: "false" }, class: "card p-8" }) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>
      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-col gap-4 my-5">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, class: "input input-focus" %>
  </div>

  <div class="flex flex-col gap-4 my-5">
    <%= form.label :description, class: "label" %>
    <%= form.text_area :description, class: "input input-focus" %>
  </div>

  <div class="flex flex-col gap-4 my-5">
    <%= form.label :group, class: "label" %>
    <%= form.text_field :group, class: "input input-focus" %>
  </div>

  <div class="flex flex-col gap-4 my-5">
    <%= form.label :score, class: "label" %>
    <%= form.number_field :score, class: "input input-focus" %>
  </div>

  <div class="flex flex-col gap-4 my-5">
    <%= form.label :display_value, class: "label" %>
    <%= form.text_field :display_value, class: "input input-focus" %>
  </div>

  <div class="flex flex-col gap-4 my-5">
    <%= form.label :correct_value, class: "label" %>
    <%= form.text_field :correct_value, class: "input input-focus" %>
  </div>

  <div class="flex justify-between my-5">
    <%= form.submit "Save Item", class: "btn btn-create btn-create-hover btn-create-focus transition-base" %>
    <%= link_to "Back", items_path, class: "w-auto btn btn-back btn-back-hover btn-back-focus transition-base" %>
  </div>
<% end %>
