<%= render Oodle::CardComponent.new(
      title: item.name, id: dom_id(item)
    ) do%>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= item.group %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= item.score %>
  </p>

  <p>
    <strong>Display value:</strong>
    <%= item.display_value %>
  </p>

  <p>
    <strong>Correct value:</strong>
    <%= item.correct_value %>
  </p>

  <%= link_to "Show", item, class: "px-3 py-1.5 border border-blue-500 text-blue-500 hover:bg-blue-200 hover:text-blue-700 rounded-md font-medium" %>
<% end %>
    