<% 
manager_actions = [
  link_to("Edit", edit_item_path(item), data: { turbo_frame: "_top" }, class: "btn btn-edit btn-edit-hover btn-edit-focus transition-base", aria: { label: "Edit item" }),
  button_to("Destroy", item, method: :delete, data: { turbo_confirm: "Are you sure?", turbo_frame: "_top" }, class: "btn btn-delete btn-delete-hover btn-delete-focus transition-base", aria: { label: "Delete item" })
]
back_button = link_to("Back", items_path, class: "w-auto btn btn-back btn-back-hover btn-back-focus transition-base")

actions = []
actions.concat(manager_actions) if Current.user.manager?
actions.concat([back_button]) if action_name == "show"
%>

<div id="<%= dom_id(item) %>" class="grid grid-cols-10 gap-4 p-4 items-center text-sm ho
ver:bg-gray-50">
  <div class="col-span-2"><%= item.name %></div>
  <div class="col-span-2"><%= item.description %></div>
  <div class="text-right"><%= item.group %></div>
  <div class="text-right"><%= item.display_value %></div>
  <div class="text-right"><%= item.correct_value %></div>
  <div class="text-right"><%= number_with_precision(item.score, precision: 2) %></div>
  <div class="col-span-2 flex justify-end space-x-2">
    <% actions.each do |action| %>
      <%= action %>
    <% end %>
  </div>
</div>
