<% 
manager_actions = [
  link_to("Edit", edit_item_path(item), data: { turbo_frame: "_top" }, class: "btn btn-edit btn-edit-hover btn-edit-focus transition-base", aria: { label: "Edit item" }),
  button_to("Destroy", item, method: :delete, data: { turbo_confirm: "Are you sure?", turbo_frame: "_top" }, class: "btn btn-delete btn-delete-hover btn-delete-focus transition-base", aria: { label: "Delete item" })
]
back_button = link_to("Back", items_path, class: "w-auto btn btn-back btn-back-hover btn-back-focus transition-base")

actions = []
actions.concat(manager_actions) if Current.user.manager?
actions.concat([back_button]) if action_name == "show"
%>

<%= render Oodle::CardComponent.new(
    title: item.name,
    id: dom_id(item),
    actions: actions
  ) do %>

  <section id="<%= dom_id(item) %>" class=" rounded-lg relative px-8 py-6">
    <p class="my-5 flex flex-col gap-4">
      <strong>Description:</strong>
      <%= item.description %>
    </p>

    <p class="my-5 flex flex-col gap-4">
      <strong class="label">Group: </strong>
      <%= item.group %>
    </p>

    <p class="my-5 flex gap-4">
      <strong class="label">Display Value:</strong>
      <%= item.display_value %>
    </p>

    <p class="my-5 flex gap-4">
      <strong class="label">Correct_value:</strong>
      <%= item.correct_value %>
    </p>

    <p class="my-5 flex gap-4">
      <strong class="label">Score:</strong>
      <%= item.score %>
    </p>
    <p class="my-5 flex flex-col gap-4">
      <strong class="label">Used in Questions:</strong>
      <ul class="list-disc list-inside flex flex-col gap-4">
        <% item.questions.each do |question| %>
          <li class="border px-3 py-1 rounded-md">
            > Questionaire: <%= question.questionnaires.map(&:name).join(", ") %> <br>
            > Question: <%= question.description %>
          </li>
        <% end %>
      </ul>
    </p>
  </section>
<% end %>
