<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= item.group %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= item.score %>
  </p>

  <p>
    <strong>Display value:</strong>
    <%= item.display_value %>
  </p>

  <p>
    <strong>Correct value:</strong>
    <%= item.correct_value %>
  </p>

</div>
